.auth-form {
    background-image: url("../images/wave.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100dvw;
}

.form {
    width: 100%;
    max-width: 350px;
    background-color: white;
}

.form-control {
    box-shadow: none !important;
    outline: none !important;
}
